.navbar-inverse {
    background-color: #21262A;
}

body {
    background-color: #FAFBFC;
}

.task-box {
    background-color: #3F4448;
    border-radius: 4px;
    border: 1px #21262A solid;
    margin-top: 20px;
}

.task-title-input, .task-text-input {
    max-width: 100%;
    border: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    box-shadow: none;
}

.task-title-input {
    color: #C0C1C3;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.task-text-input {
    color: #F5F5F5;
    border-radius: 0px;
}

.task-tools-menu {
    background-color: #21262A;
    border-top: 1px white solid;
    padding: 0px 10px;
    cursor: default;
}

.menu-button {
    width: 24px;
    height: 24px;
    padding: 0px;
    background-color: transparent;
}

.menu-button:hover {
    background-color: rgba(0, 0, 0, .1);
}

#tag-toogle-btn {
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.search-box {
    margin-top: 10px;
}


#custom-search-form {
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

