.navbar-inverse {
    background-color: #21262A;
}

body {
    background-color: #FAFBFC;
}

.task-box {
    background-color: #3F4448;
    border-radius: 4px;
    border: 1px #21262A solid;
    margin-top: 20px;
}

.task-title {
    background-color: transparent;
    color: #C0C1C3;
    font-weight: bold;
}

.task-title input[type=text] {
    background-color: transparent;
    resize: none;
    width: 100%;
    max-width: none;
    margin-top: 5px;
    margin: 0px;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, .2) solid;
    overflow: auto;
}

.task-delete {
    background-color: red;
}

.task-text {
    background-color: transparent;
    resize: none;
    width: 100%;
    max-width: none;
    color: #F5F5F5;
    border: none;
    font-size: 14px;
    overflow: hidden;
}


.task-tags-menu {
    background-color: aqua;
}

.task-users-menu {
    background-color: burlywood;
}

.task-tools-menu {
    background-color: #21262A;
}

.tool-tag-changer > span, .tool-user-changer > span {
    width: 24px;
    height: 24px;
}


.tool-tag-changer > span {
    background-image: url('Icons/Label_plus.png');
}

.tool-tag-changer.open > span {
    background-image: url('Icons/Label.png');
}

.tool-user-changer > span {
    background-image: url('Icons/Authors_plus.png');
}

.tool-user-changer.open > span {
    background-image: url('Icons/Authors.png');
}

/*

.task-title-input, .task-text-input {
    max-width: 100%;
    border: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    box-shadow: none;
}

.task-title-input {
    color: #C0C1C3;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.task-text-input {
    color: #F5F5F5;
    border-radius: 0px;
}

.task-tools-menu {
    background-color: #21262A;
    border-top: 1px white solid;
    padding: 0px 10px;
    cursor: default;
}

.menu-button {
    width: 24px;
    height: 24px;
    padding: 0px;
    background-color: transparent;
}

.menu-button:hover {
    background-color: rgba(0, 0, 0, .1);
}
*/